<html>

<head>
    <title>Error</title>
	 <link rel="icon" href= "https://cdn-icons-png.flaticon.com/256/14090/14090276.png" type="image/x-icon">
</head>

<body>


<style>
	.center {
  		margin: 0;
  		position: absolute;
  		top: 50%;
  		left: 50%;
  		-ms-transform: translate(-50%, -50%);
  		transform: translate(-50%, -50%);
		}
</style>
	
	<center>
		<h4> {{ error_message }} </h4>
		<h1> {{ continue_message }} <h1>
	</center>

	<div class="center">
		<a href="/"><img src="https://cdn-icons-png.flaticon.com/256/9713/9713317.png" width="100", height="100"></a>
	</div>
</body>
</html>
